@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 10%;
}
.left h2{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
    padding-top: 10%;
    padding-bottom: 5%;
}
.left form{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 8px 1px #00000040;
    color: black;
    padding: 10%;

}
.left form label{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color:  #002C4B;
}
.left form input{
    background: #002C4B33;
    width: 100%;
    border: none;
    height: 30px;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
    color: black;
    padding: 5px;
}
.left form textarea{
    background-color: #002C4B33;
    border: none;
    border-radius: 5px;
    margin-top: 5%;
    color: black;
    padding: 5px;
}
.left form button{
    background-color:  #00ACC1;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-top: 5%;
    margin-left: 80%;
}
.right h3{
    font-family: 'Inter';
    font-weight: 350;
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
    padding-top: 8%;
    padding-bottom: 5%;
}
.right form{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 8px 1px #00000040;
    color: black;
    padding: 5%;
    margin-top: 3%;
}
.right form input{
    background: #002C4B33;
    width: 100%;
    border: none;
    height: 30px;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 1%;
    color: black;
    padding: 5px;
}

.right form button{
    background-color:  #00ACC1;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-top: 5%;
    margin-left: 80%;
}
